<html>
  <head>
    <title>MDLive Challenge</title>
    <link rel="icon" href="/images/noun_pages_1141620.svg" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>MDLive Challenge</h1>
    <p>
      This is a simple web HTTP API endpoint that will perform pagination. The
      endpoint will return a JSON array of "apps" that looks like the following:
    </p>
    <p class="indent-0">[</p>
    <p class="indent-1">{</p>
    <p class="indent-2">"id": 1</p>
    <p class="indent-2">"name": "my-app-001"</p>
    <p class="indent-1">}</p>
    <p class="indent-0">]</p>

    <p>
      View <a href="/apps">/apps</a> to view a basic implementation of
      pagination without any requested range of elements.
    </p>
    <p style="margin-left: 30px">
      For more information, please refer the
      <a href="https://github.com/LeninRivera/MDLive-QA-Challenge">Github</a>
      page.
    </p>
  </body>
</html>
